@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

#react-container-for-memo-extension {
  @import "node_modules/minireset.css/minireset.css";
  @import "node_modules/material-design-lite/src/material-design-lite.scss";

  button.mdl-button--icon {
    @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
  }
}
