// @import "node_modules/material-design-lite/src/card/_card.scss";
// @import "node_modules/material-design-lite/src/button/_button.scss";
// @import "node_modules/material-design-lite/src/material-design-lite.scss";
// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
#react-container-for-memo-extension {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  color: #555;
  .float-right {
    float: right;
  }
  .demo-card-wide {
    &.mdl-card {
      /*min-width: 400px;*/
      min-height: 0;
      background-color: #ffffdc;
      z-index: 10000;
    }
    &.draggable-card {
      position: absolute;
    }
    &.fixed {
      position: fixed !important;
    }
    &.minimize {
      width: 120px !important;
      height: 60px !important;
      left: 0 !important;
      .mdl-card__supporting-text {
        display: none;
      }
      .mdl-card__actions {
        display: none;
      }
      & > .mdl-card__title {
        min-width: 120px !important;
        .mdl-card__title-text {
          font-size: 14px !important;
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .open-card_btn {
        display: block;
      }
      .close-card_btn {
        display: none;
      }
    }
    & > .mdl-card__title {
      width: 99%;
      margin: 0 auto;
      color: #555;
      min-height: 60px;
      min-width: 260px;
      align-self: flex-start;
      overflow-y: scroll;
      -webkit-align-items: normal;
      -ms-flex-align: normal;
      align-items: normal;
      /*background: url('../images/welcome_card.jpg') center / cover;*/
      .handle-card {
        width: 100%;
      }
    }
    .mdl-card__title-text {
      height: 100%;
      padding-right: 28px;
      font-size: 24px !important;
      font-weight: 300;
      line-height: normal;
      overflow: hidden;
      border: none !important;
      background: none !important;

      .target-editor {
        height: 100%;
        width: 100%;
        padding-right: 28px;
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
      }
    }
    span.editable {
      height: 100%;
      min-width: 30px;
    }
    .mdl-card__menu {
      color: #555;
    }
    .handle-card {
      cursor: move;
    }
    .mdl-card__supporting-text {
      width: 99%;
      height: 100%;
      margin: 0 auto;
      overflow-y: scroll;
      margin-bottom: 52px;
      padding-bottom: 0;
      box-sizing: border-box;

      .mdl-textfield {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: left;

        p, textarea {
          resize: none;
          height: 100%;
        }
      }
    }
    .mdl-card__actions {
      position: absolute;
      bottom: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .material-icons {
      color: #555;
      width: 24px;
      height: 24px;
    }
    .close-card_btn {
      position: absolute;
      top: 20px;
      right: 12px;
    }
    .open-card_btn {
      display: none;
      position: absolute;
      top: 20px;
      right: 12px;
    }
    .copied-msg-toast {
      display: none;
    }
  }
}
