// @import "node_modules/material-design-lite/src/card/_card.scss";
// @import "node_modules/material-design-lite/src/button/_button.scss";
// @import "node_modules/material-design-lite/src/material-design-lite.scss";
// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
#react-container-for-memo-extension {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  color: #555 !important;
  .float-right {
    float: right !important;
  }
  .demo-card-wide {
    &.mdl-card {
      /*min-width: 400px;*/
      min-height: 0;
      background-color: #ffffdc !important;
      z-index: 10000 !important;
    }
    &.draggable-card {
      position: absolute !important;
    }
    &.fixed {
      position: fixed !important;
    }
    &.minimize {
      width: 120px !important;
      height: 60px !important;
      left: 0 !important;
      .mdl-card__supporting-text {
        display: none;
      }
      .mdl-card__actions {
        display: none;
      }
      & > .mdl-card__title {
        min-width: 120px !important;
        .mdl-card__title-text {
          font-size: 14px !important;
          span {
            overflow: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            line-height: 27px;
          }
        }
      }
      .open-card_btn {
        display: block;
      }
      .close-card_btn {
        display: none;
      }
    }
    & > .mdl-card__title {
      width: 99%;
      margin: 0 auto !important;
      color: #555 !important;
      min-height: 60px !important;
      min-width: 260px !important;
      align-self: flex-start;
      overflow-y: scroll;
      -webkit-align-items: normal;
      -ms-flex-align: normal;
      align-items: normal;
      /*background: url('../images/welcome_card.jpg') center / cover;*/
      .handle-card {
        width: 100%;
      }
    }
    .mdl-card__title-text {
      height: 100%;
      padding-right: 28px;
      font-size: 24px !important;
      font-weight: 300;
      line-height: 27px;
      overflow-x: hidden;
      overflow-y: inherit;
      border: none !important;
      background: none !important;
      text-align: left !important;

      .target-editor {
        height: 100%;
        width: 100%;
        padding-right: 28px;
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
        border: solid 1px #eee;
        box-sizing: border-box;
        box-shadow: none;
        text-shadow: none;
        padding: 0;
      }
    }
    span.editable {
      height: 100%;
      min-width: 30px;
    }
    .mdl-card__menu {
      color: #555;
    }
    .handle-card {
      cursor: move;
    }
    .mdl-card__supporting-text {
      width: 99%;
      height: 100%;
      margin: 0 auto;
      overflow-y: scroll;
      margin-bottom: 52px;
      padding: 0 16px !important;
      box-sizing: border-box;

      .mdl-textfield {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: left;

        p {
          min-height: 100%;
          padding: 16px 0;
          border-bottom: solid 3px rgba(158, 158, 158, 0.3);
          box-sizing: border-box;
        }
        textarea {
          height: 100%;
          resize: none;
          border: solid 1px #eee;
          box-sizing: border-box;
          box-shadow: none;
          text-shadow: none;
          padding: 0;
        }
      }
    }
    .mdl-card__actions {
      position: absolute;
      bottom: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      text-align: left;
    }
    // .material-icons {
    //   color: #555;
    //   width: 24px;
    //   height: 24px;
    // }
    .mdl-button {
      text-align: left;
      width: 32px;
      height: 32px;
      min-width: 32px !important;
      min-height: 32px !important;
      max-width: 32px !important;
      max-height: 32px !important;
      box-shadow: none;
      text-shadow: none;

      &.pinned {
        background-color: rgba(158, 158, 158, 0.3);
      }
    }
    .button_icon {
      opacity: 0.7;
      width: 24px;
      height: 24px;
      margin: 4px;
    }
    .close-card_btn {
      position: absolute;
      top: 20px;
      right: 12px;
    }
    .open-card_btn {
      display: none;
      position: absolute;
      top: 20px;
      right: 12px;
    }
    .copied-msg-toast {
      display: none;
    }
  }
}
