// @import "../../node_modules/material-design-lite/material";
@import "./reset.scss";

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  color: #555;
}

a {
  color: #00b3d4;
}

h2 {
  font-size: 18px;
  padding: 12px 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  height: 100%;
  position: relative;
}
.wrap-content {
  position: relative;
}

#react-container-for-memo-extension {
  height: 100%;
  #header {
    position: absolute;
    display: flex;
    background: #96967c;
    color: #fff;
    padding: 0 20px;
    height: 48px;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 4px 16px -2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 16px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 16px -2px rgba(0,0,0,0.4);

    .main-icon {
      height: 34px;
      margin-top: 4px;
    }

    h1 {
      display: inline-block;
      line-height: 48px;
      margin-right: 24px;
    }

    .nav {
      display: inline-flex;
      margin: 0;
      padding: 0;
      height: 100%;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      .nav-item {
        height: 100%;
        padding: 0 12px;
        color: #fff;
        display: inline-flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;

        &.selected {
          background: #6b6b5a !important;
        }
        &:hover {
          background: #84846d;
        }
      }
    }
  }
  #container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 980px;
    margin: 0 auto;

    #sidebar {
      width: 25%;
      position: absolute;
      bottom: 0;
      top: 48px;
      overflow-y: scroll;

      .page_info-item {
        border-bottom: solid 1px #ccc;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;

        p {
          font-size: 14px;
        }
        a {
          float: right;
          margin-right: 4px;
          height: 18px;
          img {
            height: 18px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .url_text {
          color: #00b3d4;
          font-size: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;

          // &:hover {
          //   color: #016173;
          // }
        }

        &:hover {
          background: #f5f5f5;
        }
        &.selected {
          background: #eee;
          box-shadow: 2px 2px 5px #ddd inset;
        }
      }
    }
    #memo_list {
      width: 75%;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 48px;
      overflow: scroll;

      #search_bar {
        padding: 12px;
        padding-bottom: 0;
        width: 100%;
        box-sizing: border-box;

        input {
          font-size: 14px;
          line-height: 20px;
          border-radius: 14px;
          padding: 4px 20px;
          border: solid 1px #ccc;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
    #MemoCardList {
      width: 100%;

      .demo-card-wide {
        width: auto !important;
        height: auto !important;
        position: initial !important;
        padding: 0 20px;
        margin: 12px;
        box-sizing: border-box;
      }
      .mdl-card {
        background-color: rgb(255, 255, 220);
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        cursor: auto !important;

        .mdl-card__title {
          border-bottom: solid 1px #ddd;
          width: 100%;
          padding: 12px 0;
          position: relative;
          cursor: auto !important;
          h2 {
            font-weight: bold;
            line-height: 28px;
            padding: 4px 0;
            input {
              font-weight: bold;
              line-height: 28px;
              font-size: 18px;
              width: 100%;
            }
          }
          .memo_infos {
          }
          a {
            font-size: 14px;
            line-height: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-decoration: underline;
            display: inline-block;
            max-width: 100%;
            &:hover {
              color: #016173;
              cursor: pointer;
            }
            &.page_info_link {
              display: inline-block;
              line-height: 16px;
              font-weight: bold;
            }
          }
          .date {
            font-size: 12px;
            display: inline-block;
            margin-right: 12px;
          }
          .close-card_btn, .open-card_btn {
            display: none;
          }
        }
        .mdl-card__supporting-text {
          padding: 12px 0;
          font-size: 14px;
          word-wrap: break-word;

          a {
            color: rgb(255, 64, 129);
            font-weight: 500;
          }

          .target-editor {
            width: 100%;
            font-size: 14px;
          }
        }
        .mdl-card__actions {
          position: absolute;
          top: 12px;
          right: 0;
          // .pin_btn, .detail_btn {
          //   display: none;
          // }
          .copied-msg-toast {
            display: none;
          }
        }
        .mdl-button {
          width: 28px;
          height: 28px;
          padding: 0;
          position: relative;
          cursor: pointer;
          background: transparent;
          border-style: none;
          border-radius: 50%;

          &:hover {
            background: rgba(204, 204, 204, 0.5);
          }
          &:active {
            background: rgba(170, 170, 170, 0.5);
          }
          &:focus {
            outline: none;
          }
          img {
            width: 22px;
            height: 22px;
            opacity: 0.7;
          }
          .mdl-tooltip {
            display: none;
          }
          &.pin_btn {
            display: none;
            &.pinned {
              display: inline-block;
            }
          }
        }
      }
    }
    #settings, #how_to_use {
      width: 100%;
      position: absolute;
      bottom: 0;
      top: 48px;
      overflow-y: scroll;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      table {
        text-align: center;
        th {
          vertical-align: middle;
        }
        img {
          margin-bottom: 20px;
          width: 100%;
          max-width: 500px;
          text-align: center;
        }
      }
      @media (max-width: 900px) {
        table, tbody, tr, th, td {
          display: block;
        }
      }
    }
  }

}
